VITE_FIREBASE_API_KEY= "AIzaSyDwwjYs11_xX3odiipJGayfcAtY9ywrkKw"
VITE_FIREBASE_AUTH_DOMAIN="futuretech2-acdc6.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="futuretech2-acdc6"
VITE_FIREBASE_STORAGE_BUCKET= "futuretech2-acdc6.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="560444889348"
VITE_FIREBASE_APP_ID="1:560444889348:web:31d389989ce90910585851"
VITE_FIREBASE_MEASUREMENT_ID= "G-C1E6MXPCM6"
